# VS / .net
.vs/
bin/
obj/
*.db

# User specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

# ASP.NET Core
appsettings*.Development.json
appsettings.json

# Environment 
.env

# OS junk
.DS_Store